#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        as_ht: autoshift_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTOSHIFT_HOLD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&shifted>, <&kp>;
        };
    };

    macros {
        shifted: macro_shifted_kp {
            #binding-cells = <1>;
            label = "MACRO_SHIFTED_KP";
            compatible = "zmk,behavior-macro-one-param";
            bindings =
                <&macro_press>,
                <&kp LSHFT &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LSHFT>;
        };

        as: autoshift {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            label = "AUTOSHIFT_KP";
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &macro_param_1to2 &as_ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &macro_param_1to2 &as_ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>;

            tap-ms = <500>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        LetterLayer {
            bindings = <
&none  &as Q  &as W  &as E             &as R  &as T            &as Y      &as U  &as I              &as O    &as SEMICOLON  &none
&none  &as A  &as S  &as D             &as F  &as G            &as H      &as J  &as K              &as L    &as P          &none
&none  &as Z  &as X  &as C             &as V  &as B            &as N      &as M  &as COMMA          &as DOT  &as FSLH       &none
                     &kp LEFT_COMMAND  &mo 1  &kp BACKSPACE    &kp SPACE  &mo 2  &kp RIGHT_COMMAND
            >;
        };

        SymbolLayer {
            bindings = <
&none  &kp TILDE      &kp HASH     &kp DOLLAR        &kp PLUS   &kp ASTERISK       &kp GRAVE          &kp LEFT_BRACE        &kp RIGHT_BRACE        &none             &none              &none
&none  &kp CARET      &kp PIPE     &kp AMPERSAND     &kp EQUAL  &kp EXCLAMATION    &kp DOUBLE_QUOTES  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none
&none  &kp BACKSLASH  &kp PERCENT  &kp AT_SIGN       &kp MINUS  &kp UNDERSCORE     &kp SQT            &kp LESS_THAN         &kp GREATER_THAN       &none             &none              &none
                                   &kp LEFT_COMMAND  &none      &none              &kp TAB            &kp RIGHT_SHIFT       &kp ENTER
            >;
        };

        NumberAndFn {
            bindings = <
&none  &kp ESCAPE     &none     &kp UP_ARROW    &none            &kp LA(TAB)      &none  &kp NUMBER_1  &kp NUMBER_2       &kp NUMBER_3  &none         &none
&none  &kp PAGE_UP    &kp LEFT  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LG(TAB)      &none  &kp NUMBER_4  &kp NUMBER_5       &kp NUMBER_6  &kp NUMBER_0  &none
&none  &kp PAGE_DOWN  &none     &none           &none            &none            &none  &kp NUMBER_7  &kp NUMBER_8       &kp NUMBER_9  &none         &none
                                &none           &kp LEFT_SHIFT   &kp BACKSPACE    &none  &none         &kp RIGHT_COMMAND
            >;
        };
    };
};
