#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        as_ht: autoshift_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTOSHIFT_HOLD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&shifted>, <&kp>;
        };
    };

    macros {
        shifted: macro_shifted_kp {
            #binding-cells = <1>;
            label = "MACRO_SHIFTED_KP";
            compatible = "zmk,behavior-macro-one-param";
            bindings =
                <&macro_press>,
                <&kp LSHFT &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LSHFT>;
        };

        as: autoshift {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            label = "AUTOSHIFT_KP";
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &macro_param_1to2 &as_ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &macro_param_1to2 &as_ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        LetterLayer {
            bindings = <
&none  &as Q  &as W  &as E      &as R  &as T        &as Y      &as U  &as I          &as O    &as P     &none
&none  &as A  &as S  &as D      &as F  &as G        &as H      &as J  &as K          &as L    &as SEMI  &none
&none  &as Z  &as X  &as C      &as V  &as B        &as N      &as M  &as COMMA      &as DOT  &as FSLH  &none
                     &kp LCTRL  &mo 1  &kp SPACE    &kp SPACE  &mo 2  &kp BACKSPACE
            >;
        };

        SymbolLayer {
            bindings = <
&none  &none  &kp AT      &kp HASH     &none  &none           &kp AMPERSAND   &kp PIPE          &kp EXCL              &kp QUESTION           &kp EQUAL          &none
&none  &none  &kp DOLLAR  &kp PERCENT  &none  &kp PLUS        &kp LEFT_BRACE  &kp RIGHT_BRACE   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DOUBLE_QUOTES  &none
&none  &none  &none       &none        &none  &kp ASTERISK    &kp LESS_THAN   &kp GREATER_THAN  &kp LBKT              &kp RBKT               &kp SINGLE_QUOTE   &none
                          &kp LCTRL    &none  &kp TAB         &kp BSPC        &none             &kp ENTER
            >;
        };

        NumberAndFn {
            bindings = <
&trans  &trans          &kp UP_ARROW    &trans            &trans  &trans    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans        &trans  &trans
&trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW   &trans  &trans    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_0  &trans  &trans
&trans  &trans          &trans          &trans            &trans  &trans    &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans        &trans  &trans
                                        &kp LEFT_CONTROL  &none   &trans    &trans        &none         &trans
            >;
        };
    };
};
